.column, .button {
    padding-top: 0;
    padding-bottom: 0;
}

#flashcardSearch {
    width: 15rem;
}

#flashcardSearchDiv {
    text-align: right;
}

.flashcards {
    border-bottom: 0.25rem solid transparent;
}

.flashcards:hover {
    border-bottom: 0.25rem solid #ffb4bc;
    cursor: pointer;
}

#addFlashcardSet {
    border: 0.08rem solid #dbdbdb;
}

#addFlashcardSet:hover {
    border: 0.08rem solid #ffb4bc;
}

.trash {
    border: transparent;
}

.trash:hover {
    color: #ffb4bc;
}

.hidden {
    display: none;
}