#leftFlashcard, #rightFlashcard {
    border: transparent;
}

#leftFlashcard:focus, #rightFlashcard:focus {
    outline: none;
    box-shadow: none;
}

#leftFlashcard:hover, #rightFlashcard:hover {
    color: #ffb4bc;
}

#leftFlashcard:disabled, #rightFlashcard:disabled {
    color: 	#A9A9A9;
}

.flip-card {
  background-color: transparent;
  width: 30em;
  height: 20em;
  perspective: 1000px;
  margin: auto;
  
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.4s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card.is-active .flip-card-inner {
  transform: rotateX(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: white;
  color: black;
}

.flip-card-back {
  background-color: white;
  color: black;
  transform: rotateX(180deg);
}

.flip-card p {
    padding: 5.5em 0;
}

#cardHolder, #termNumber {
    margin: 0 10rem;
}

.right-border{
    border-right: 2px solid rgb(255, 224, 210);
}
