/* body {
    background-color: #ffe6f3;
} */

#id {
    color: white;
}

#statcard {
    height: 20rem;
    width: 20rem;
    margin: auto;
}

.hidden {
    display: none;
}

.modal {
    border-radius: 25px;
     width: 700px;
    height: 120px;
    margin: auto;
    position: fixed;
    bottom: 90px;
}

.modal-card {
    border-radius: 25px;
    position: fixed;
    bottom: 90px;
   
}

.modal-background {
     background-color: rgba(255, 192, 203, 0.2);
     position: fixed;
    bottom: 40px;
    top: 510px;
    left: 200px;
    right: 200px;

}

.is-correct-background {
    background-color: rgba(60,179,113,0.2);
}

.is-correct-card {
    background-color: rgba(60,179,113,1);
}

.is-wrong-background {
    background-color: rgba(168, 6, 6, 0.397);
}

.is-wrong-card {
    background-color: rgba(220,20,60);
}

.modal-card-head {
    background-color: rgba(255, 192, 203);
}